@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* FONT STYLES */

.ubuntu-small {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

/* RESET BROWSER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

/* COMMON STYLES */

.btn:hover {
    filter: brightness(1.1);
}

.btn {
    background-color: #0d7f9e;
    padding: 2px;
    position: relative;
    border-radius: 0;
    width: 224px;
    cursor: pointer;
    filter: brightness(1);
    transition: 200ms ease-in;
    white-space: nowrap;
}

.btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn .top-half {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #0ca2cc;
    height: 20px;
    width: 100%;
}

.btn .bottom-half {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #0d98ba;
    height: 12px;
    width: 100%;
}

.progress-bar {
    width: 282px;
    height: 16px;
    border-radius: 54px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 2px;
}

.progress-bar .progress {
    height: 100%;
    width: 32%;
    background-color: #66eae6;
    border-radius: 54px;
}

.progress-bar .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-54%);
    font-size: 12px;
}

.advancement {
    transform: translateX(calc(100% + 22px));
    transition: transform 0.7s ease;
}

.advancement.show {
    transform: translateX(0);
}

.advancement-inner {
    background-color: #6690ea;
    padding: 4px 8px 4px 18px;
    border: 3px solid #000000;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: min-content;
    width: fit-content;
    opacity: 0.5;
    transition: 0.2s ease;
}

.advancement-inner:hover {
    transform: translateX(-4px);
}

.advancement-inner h3 {
    font-size: 14px;
    margin-bottom: 1px;
}

.advancement-inner p {
    font-size: 10px;
}

.advancement-inner {
    transition: transform 0.2s ease;
}

/* STYLES */

#ui {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/textures/bg.png");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

#home-menu .center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-menu .top-left {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    gap: 6px;
}

#home-menu .top-right {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 6px;
    z-index: 2;
}

#home-menu .advancements {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 32px;
    opacity: 0.5;
    z-index: 0;
    padding-right: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: end;
    transition: transform 0.5s ease;
    padding-left: 16px;
}

#home-menu #loginBtn {
    width: 80px;
    background-color: #34807d;
}

#home-menu #loginBtn .top-half {
    background-color: #69fffa;
}

#home-menu #loginBtn .bottom-half {
    background-color: #5ee6e1;
}

#home-menu #shopBtn {
    width: 80px;
    background-color: #766b37;
}

#home-menu #shopBtn .top-half {
    background-color: #ffe569;
}

#home-menu #shopBtn .bottom-half {
    background-color: #e5ce5e;
}

#home-menu #gamesBtn {
    width: 128px;
    background-color: #833d5d;
}

#home-menu #gamesBtn .top-half {
    background-color: #e86aa2;
}

#home-menu #gamesBtn .bottom-half {
    background-color: #da6398;
}

#home-menu #diep-logo {
    height: 96px;
    margin-bottom: 32px;
}

#home-menu input {
    width: 416px;
    padding: 14px 10px;
    font-size: 16px;
    border: 3px solid #b8b8b8;
    border-radius: 4px;
    margin-top: 16px;
}

#home-menu #startBtn {
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 2px 0 black;
    margin-bottom: 64px;
}

#home-menu #startBtn #startBtnLbl {
    display: flex;
    align-items: center;
    gap: 4px;
}

#home-menu #startBtn #startBtnLbl img {
    height: 28px;
    filter: drop-shadow(0 0 2px black);
}

#game-ui {
    justify-content: space-between;
    display: none;
}

#game-ui #upgrades {
    position: absolute;
    bottom: 24px;
    left: 24px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    transform: translateX(-256px);
    opacity: 0.1;
    transition: 0.9s ease;
}

#game-ui #upgrades.active {
    opacity: 0.9;
    transform: translateX(0);
}

#game-ui #upgrades #upgrade-count {
    position: absolute;
    top: -20px;
    right: -24px;
    transform: rotateZ(-20deg);
}

#game-ui #upgrades .upgrade {
    width: 192px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 100px;
    display: flex;
    gap: 6px;
}

#game-ui #upgrades .upgrade .add {
    background-color: red;
    width: min-content;
    height: 100%;
    width: 40px;
    align-self: flex-end;
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.1s ease;
}

#game-ui #upgrades .upgrade .add.disabled:hover {
    filter: brightness(1);
}

#game-ui #upgrades .upgrade .add:hover {
    filter: brightness(1.25);
}

#game-ui #upgrades .upgrade .add p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-3px) translateX(-60%);
}

#game-ui #upgrades .upgrade .bars {
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    display: flex;
    gap: 3px;
    position: relative;
}

#game-ui #upgrades .upgrade .bar {
    height: 100%;
    width: 100%;
    background-color: red;
}

#game-ui #upgrades .upgrade .bars .texts {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-shadow:
        -1px -1px 0 #444444,
        1px -1px 0 #444444,
        -1px 1px 0 #444444,
        1px 1px 0 #444444;
}

#game-ui #upgrades .upgrade .bars .texts .title {
    width: 100%;
    text-align: center;
    transform: translateY(1px);
    margin-left: 6px;
}

#game-ui #upgrades .upgrade .bars .texts .hotkey {
    font-size: 9px;
    text-align: center;
    height: 100%;
    transform: translateX(-3px);
}

#game-ui #stats {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
}

#game-ui #stats .name {
    font-size: 32px;
    text-shadow:
        -2px -2px 0 #333,
        2px -2px 0 #333,
        -2px 2px 0 #333,
        2px 2px 0 #333;
}

#level.progress-bar {
    height: 20px;
    width: 362px;
}

#level.progress-bar .progress {
    background-color: #e7d063;
}

#score.progress-bar .progress {
    width: 5%;
}

#game-ui #btm-rt {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#game-ui .controls {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 4px 0 4px 6px;
}

#game-ui .control {
    display: flex;
    gap: 6px;
    height: 36px;
    align-items: center;
    text-shadow: none;
    font-size: 16px;
    filter: drop-shadow(0 0 1px gray);
}

#game-ui .control img {
    height: 90%;
}

#game-ui #map {
    position: relative;
    height: 160px;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#game-ui #map #playerPoint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 12px;
}

#game-ui #map .enemyLocation {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #dd3838;
    position: absolute;
    box-shadow: 0px 0px 111px 12px rgba(255, 46, 46, 0.6);
}

#game-ui #scoreboard {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

#game-ui #scoreboard .s-progbar {
    width: 192px;
    height: 20px;
    border-radius: 32px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 12px;
    transition: all 0.35s ease;
}

#game-ui #scoreboard .s-progbar .progress {
    width: 100%;
    height: 100%;
    background-color: #0ca2cc;
    border-radius: 32px;
}

#game-ui #scoreboard .s-progbar.currentPlayer .progress {
    background-color: #45c7eb;
}

#game-ui #scoreboard .s-progbar .prog-score {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-54%);
}

#game-ui #scoreboard .s-progbar .prog-user {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-54%);
}

#game-ui #left-joystick {
    position: absolute;
    left: 64px;
    bottom: 64px;
    height: 33%;
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#game-ui #left-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}

#game-ui #right-joystick {
    position: absolute;
    right: 64px;
    bottom: 64px;
    height: 33%;
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#game-ui #right-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}

.death-screen {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.death-screen .death-killer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.death-screen .death-details {
    display: flex;
    gap: 32px;
    width: 320px;
    align-items: center;
    justify-content: space-between;
}

.death-screen .death-details .death-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.death-screen .death-details .death-tank {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.death-screen .death-details .death-tank img {
    height: 96px;
    border-radius: 4px;
}
